body {
    background-image: url(California.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
    

}
.navbar ul{
    list-style-type:
    background-color: hsl(0,0,25%)
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: black;
    text-decoration:none text-underline-position:above;
    padding: 15px;
    display: block;
    text-align: right;

}
.navbar:hover{
    background-color: hsl(0,0,10%);
}

.navbar li{
    float: center;
    transform: translateY(-200px);
}

.dropdown{
    display: inline-block;
    padding: 40px 50px;

}

.dropdown button{
    display: block;
    background-color: hsl(64, 100%, 51%);
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transform: translateY(-375px);
}

.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 14px;
    transform: translateY(-350px);
}

.dropdown .content{
    display: none;
    position: absolute;
    background color: hsl(0, 0, 95);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.8);
}

.dropdown:hover .content{
    display: block;
}

.dropdown:hover button{
    background-color: hsl(0, 0, 70%);
}

.dropdown a:hover{
    background-color: hsl(0, 0, 90%);
}
    

