body {
    background-image: url(California.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
    

}
.navbar ul{
    list-style-type:none;
    display: block;
    background-color: hsl(0,0,25%);
    padding: 0px;
    margin: 10px auto;
    
    
    
}
.navbar a{
    color: black;
    text-decoration:none; 
    text-underline-position:above;
    text-align: right;
    padding: 20px;
    display: inline-flex;
    
    
    

}
.navbar:hover{
    background-color: hsl(0,0,10%);
}

.navbar li{
    float: center;
    transform: translateX(1250px) translateY(-170px); 
    display: block;
    

    
}

.dropdown{
    display: inline-block;
    padding: 30px 60px;

}

.dropdown button{
    display: block;
    background-color: hsl(64, 100%, 51%);
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transform: translateY(-335px);
}

.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 8px 10px;
    transform: translateY(-335px);
}

.dropdown .content{
    display: none;
    position: absolute;
    background color: hsl(0, 0, 95);
    min-width: 100px;
}

.dropdown:hover .content{
    display: block;
}

.dropdown:hover button{
    background-color: hsl(0, 0, 70%);
}

.dropdown a:hover{
    background-color: hsl(0, 0, 90%);
}
    
