body {
    background-image: url(California.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
    

}
.navbar ul{
    list-style-type:
    background-color: hsl(0,0,25%)
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: black;
    text-decoration; text-underline-position:above;
    padding: 15px;
    display: block;
    text-align: right;

}
.navbar:hover{
    background-color: hsl(0,0,10%);
}
.navbar li{
    float: center;
    transform: translateY(-200px);
}
    

